body {
	font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Tahoma, "Trebuchet MS", "Lucida Grande", sans-serif;
	font-size: 14pt;
	color: #666;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
h1 {
	font-size: 20pt;
}
main {
	width: 900px;
	margin: 0px auto 0px auto;
	text-align: left;
}
main > section h1 {
	font-size: 14pt;
}
a {
	color: #666;
}
a:hover {
	color: orange;
	text-decoration: none;
}
li {
	margin-bottom: 10px;
}
footer {
	font-size: 10pt;
	margin-top: 200px;
	text-align: center;
}
footer > p > a > img {
	border: 0px;
	width: 100px;
	margin: 5px 20px 0px 20px;
}
.clear {
	clear: both;
}

/* Bootstrap overrides */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: orange;
	background-color: #fff;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color: #fff;
}
a:focus, a:hover {
	color: orange;
	background-color: #fff;
}
