html {
	text-align: center;
	background-color: #fff;
}
body {
	font-family: "Segoe UI", Tahoma, "Trebuchet MS";
	font-size: 14pt;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	color: #666;
	padding: 10px;
	width: 1000px;
	text-align: left;
	margin: auto;
}
a {
	color: #666;
}
footer > p > a > img {
	border: 0px;
	width: 100px;
}
.clear {
	clear: both;
}

/* Bootstrap overrides */

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #666;
	background-color: #eee;
}
a:focus, a:hover {
	color: #666;
}
li[role=presentation] > a {
	color: #666;
}
