a,
a:hover,
a:focus {
	color: #ccaa00;
}
nav > a {
	display: block;
}
footer {
	margin-top: 10rem;
	font-size: 1rem;
	text-align: center;
}
dd > a {
	font-size: 1.3rem;
}
.push-right {
	text-align: center;
}
.column-25 {
	max-width: 100% !important;
	margin-right: 10rem;
}
.column-75 {
	max-width: 100% !important;
}
/* Larger than mobile screen */
@media (min-width: 1.0rem) {

}

@media (min-width: 40.0rem) {

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
	main {
		margin-top: 10rem !important;
	}
	.column-25 {
		max-width: 25% !important;
	}
	.column-75 {
		max-width: 75% !important;
	}
	.push-right {
		margin-left: 7rem;
		text-align: left;
	}
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
	main {
		margin-top: 10rem !important;
	}
	.column-25 {
		max-width: 25% !important;
	}
	.column-75 {
		max-width: 75% !important;
	}
	.push-right {
		margin-left: 7rem;
		text-align: left;
	}
}
