body {
	font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Tahoma, "Trebuchet MS", "Lucida Grande", sans-serif;
	font-size: 2.0rem;
	color: #666;
	background-color: #fff;
	padding: 0%;
	margin: 0%;
	text-align: center;
}
h2 {
	font-size: 3.2rem;
	padding-bottom: 1%;
	border-bottom: 0.5px solid #ccc;
}
h3 {
	font-size: 2.5rem;
	margin-top: 5%;
}
section {
	margin-top: 10%;
}
p {
    line-height: 2.6rem;
}
footer {
	margin-top: 5%;
}
.container {
	max-width: 1200px;
	margin: 3% auto 0 auto;
	padding: 1%;
	text-align: left;
}
.column > p > a > img {
	border: 0px;
	margin: 2% 5% 0% 5%;
}
